{% extends "base.html" %}
{% load static %}

{% block extra_title %}New Invoice{% endblock %}

{% block page_header %}
    <div class="container header-container">
        {% include 'includes/top-data.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h4 class="my-5 mx-5">All Invoices</h4>  
    </div>
    <div class="row">
        <div class="col-8 offset-1">
            <form method="post">
                {% csrf_token %}
                {{ form.as_div }}
            
                {{ formset.management_form }}
                <table class="mx-5 mt-5 mb-2 product-table">
                    <thead>
                      <tr>
                        <td class="product-form-field">Product</td>
                        <td class="product-form-field">Quantity</td>
                        <td class="product-form-field">Units</td>
                        <td class="product-form-field">Price</td>
                        <td class="product-form-field text-end">Total</td>
                        <td class="product-form-field text-end">BTW</td>
                        <td class="product-form-field text-end">Total with BTW</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for form in formset %}
                      <tr class="formset-row">
                        <td class="product-form-field">{{ form.product }}</td>
                        <td class="product-form-field">{{ form.qty }}</td>
                        <td class="product-form-field">{{ form.qty_in }}</td>
                        <td class="product-form-field">{{ form.price }}</td>
                        <td class="product-form-field text-end total"></td>
                        <td class="product-form-field text-end btw"></td>
                        <td class="product-form-field text-end total-with-btw"></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <input id="add-row" class="col-1 offset-1" type="button" value="+">
                <div class="row mx-5 my-2">
                    <div class="col-2 offset-4">Items:</div>
                    <div class="col-2 itemCount"></div>
                    <div class="col-2">Total:</div>
                    <div class="col-1">
                        <p class="calculatedTotal"></p>
                    </div>
                </div>
                <div class="row mx-5 my-2">
                    <div class="col-2 offset-8">BTW:</div>
                    <div class="col-1">
                        <p class="calculatedBTW"></p>
                    </div>
                </div>
                <div class="row mx-5 my-2">
                    <div class="col-2 offset-8">Total with BTW:</div>
                    <div class="col-1">
                        <p class="calculatedTotalWithBTW"></p>
                    </div>
                </div>
                <div class="row">
                    <input class="col-2 offset-5 my-5" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>    
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Custom Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'js/newInvoiceHandler.js' %}"></script>

{% endblock %}