{% extends "base.html" %}
{% load static %}

{% block extra_title %}Merging HU's{% endblock %}

{% block page_header %}
    <div class="container header-container">
        {% include 'includes/top-data.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h4 class="my-5 mx-5">Merging HU's</h4>  
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <h6 class="mt-4 ms-3 text-red" id="error-message"></h6>
            <h6 class="mt-4 ms-3 text-green" id="success-message"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-3">
            <h6 class="mt-4 ms-3">HU:</h6>
            <input type="text" class="hu-input-field">
        </div>
        <div class="col-1 pt-5">
            <button class="btn btn-secondary bg-green" id="next">
                Next
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3 offset-3" id="selected-hu">
        </div>
    </div>

    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Custom Scripts -->
    <script src="{% static 'js/huMerging.js' %}"></script>

{% endblock %}